@charset "utf-8";

/* header */

.logo {
    width: 70%;
    margin-left: 2%;
}

.head {
    margin-left: 100px;
    float: left;
}


header {
    background: #3C4767;
    display: flex;
    width: auto;
    margin-right: 0;
}

.user-icon {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;

}

img[name="user-icon"] {
    border-radius: 50px;
    margin-top: 8%;
    margin-bottom: 1.5%;
    margin-right: 50%;
    width: 15%;
}

.title-name {
    margin-top: 3em;
    margin-right: 15%;
    margin-left: 15%;
    white-space: nowrap;
}

body {
    background: #fff;
}

/* アコーディオンメニュー */
.accordion-item {
    color: #d7d7d7;
    cursor: pointer;
    font-size: 16px;
    right: 0;
    float: right;
    position: relative;
    width: 31%;
}

.accordion-content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;
    color: #000;
    background: #fff;
    margin-top: 0.5%;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    top: 100%;
}

.accordion-list {
    padding: 26px 20px;
    text-align: center;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.accordion-list:hover {
    background-color: #de563c;
}

.accordion-item .accordion-title {
    background: #3C4767;
}

.accordion-item .accordion-content {
    border-top: 2px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
    border-left: 2px solid #d7d7d7;
    border-right: 2px solid #d7d7d7;
    background: #fff;
    width: 100%;
}

.accordion-title {
    position: relative;
    color: #d7d7d7;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
}

.accordion-title::after {
    border-right: solid 2px #d7d7d7;
    border-top: solid 2px #d7d7d7;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 40%;
    top: 50%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
}

.accordion-title.open::after {
    top: 50%;
    transform: rotate(-45deg);
}

/* トップページ */
img[name="post-icon"] {
    border-radius: 50px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 10%;
}

.new-post {
    width: 100%;
}

button[name="post-button"] {
    border: none;
    background: none;
    margin-bottom: 0.5em;
}

.wrapper {
    border-bottom: 3px solid #d7d7d7;
    width: 100%;
}

form[name="new-post"] {
    border: none;
    width: 100%;
    display: flex;
}

textarea[name="new-post"] {
    border: none;
    width: 80%;
    margin: 1em;
    resize: none;
}

a {
    color: #000;
}

/* 投稿欄タイムライン*/
.timeline {
    border: solid 2px #d7d7d7;
    width: 100%;
}

img[name="timeline-icon"] {
    max-width: 50px;
    border-radius: 50px;
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.timeline-icon {
    border-radius: 50px;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.my-post {
    display: flex;
    position: relative;
    border-top: solid 1px #d7d7d7;
    align-items: flex-start;
}

.other-post {
    display: flex;
    position: relative;
    border-top: solid 1px #d7d7d7;
    align-items: flex-start;
}

.post-content {
    width: 100%;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.timeline-name {
    text-align: left;
    float: left;
}

.date {
    text-align: right;
}

.post {
    margin-top: 1em;
    margin-bottom: 1em;
}



/* 自分の投稿編集ボタン */

.button-link {
    border: none;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

img[name="button-link"] {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 1em;

}

/* 自分の投稿編集モーダルウィンドウ */
#modal-open {
    text-align: right;
}

.modal-main {
    display: none;
}

.modal-inner {
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    color: #666666;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#modal-overlay {
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.75);
}

.inner-content {
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 1024px;
    width: 70%;
    height: 40%;
    background-color: #fff;
}

textarea[name="modal-post"] {
    width: 80%;
    height: 5em;
    border: 2px solid #d7d7d7;
    border-radius: 5px;
    resize: none;
    padding: 20px;
    margin: 0 auto;
    margin-top: 3em;
}

input[name="send-button"] {
    margin-left: 80%;
    margin-top: 1em;
}



#row {

    /* display: flex; */
    /* flex-flow: row wrap; */
    width: 70%;
}

#container {
    flex: 0 0 70%;

}

/* サイドバー */
.follow-title {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.follow-count {
    float: left;
    margin-left: 2em;
}

.follow-count1 {
    float: right;
    margin-right: 2em;
}

input[name="follow-list"] {
    border-radius: 5px;
    padding: 10px;
    color: #FFFFFF;
    background: #3C4767;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 50%;
    padding-left: 2em;
    padding-right: 2em;
}

input[name="follower-list"] {
    border-radius: 5px;
    padding: 10px;
    color: #FFFFFF;
    background: #3C4767;
    border: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 45%;
    padding-left: 2em;
    padding-right: 2em;
}

input[name="search"] {
    float: right;
    color: #FFFFFF;
    background: #3C4767;
    border: none;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

#side-bar {
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    position: absolute;
    top: 6.4em;
    right: 0;
    z-index: 10;
    width: 30%;
}

/* ユーザー検索ページ */
input[name="search"] {
    border-radius: 5px;
    border: none;
    padding: 10px;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

.search-button {
    display: flex;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    position: absolute;
    top: 55%;
    right: 0;
    z-index: 10;
    width: 30%;
    height: 100%;
}

input[type="button1"] {
    width: 8em;
    text-align: center;
    margin: 3em 0em;
    color: #FFFFFF;
    background: #3C4767;
    border: none;
}

form[name="search-window"] {
    display: flex;
    height: 20%;
    align-items: flex-start;
    border-bottom: 3px solid #c4c4c4;
}

input[name="search-window"] {
    margin-left: 4em;
    margin-top: 2em;
    width: 40%;
    padding-left: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #000;
}

input[name="search-button"] {
    background-color: #3c4767;
    padding: 4px 8px;
    border-radius: 5px;
    margin-top: 2.5em;
    margin-left: 1.5em;
}

.search-word {
    display: inline-block;
    margin: 3em 4em;
}

button[name="follow-button"] {
    border-radius: 5px;
    padding: 10px;
    color: #FFFFFF;
    background: #7895d7;
    border: none;
    padding-left: 2em;
    padding-right: 2em;
}

button[name="unfollow-button"] {
    border-radius: 5px;
    padding: 10px;
    color: #FFFFFF;
    background: #b95656;
    border: none;
    padding-left: 2em;
    padding-right: 2em;
}

.follow-button {
    vertical-align: middle;
}

.unfollow-button {
    vertical-align: middle;
}

.search-users {
    width: 100%;
    margin: 0;
}

.search-icon {
    width: 5%;
    vertical-align: middle;
    /* margin: 10px; */
}

.username {
    width: 50%;
    vertical-align: middle;
}

img[name="search-icon"] {
    border-radius: 50px;
    margin: 1em 1em 1em 4em;
    vertical-align: middle;
    max-width: 50px;
}

/* 自分のプロフィール編集ページ */
.edit-form {
    margin-top: 2em;
    margin-right: 10em;
    display: flex;
    height: auto;
    align-items: flex-start;
}

form[name="edit-form"] {
    display: flex;
}

img[name="profile-icon"] {
    border-radius: 50px;
    margin-left: 80%;
    margin-top: 1em;
    max-width: 50px;
}

.edit-content {
    margin-left: 10%;
    margin-top: 1em;
    line-height: 4em;
}

.edit-images {
    margin-bottom: 2em;
    white-space: nowrap;
    align-items: flex-start;
}

input[name="username"] {
    background-color: #d7d7d7;
    border: none;
    border-bottom: 2px solid #c4c4c4;
    margin-left: 5em;
    width: 15em;
}

input[name="mail"] {
    background-color: #d7d7d7;
    border: none;
    border-bottom: 2px solid #c4c4c4;
    margin-left: 5em;
    width: 15em;
}

input[name="password1"] {
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #c4c4c4;
    margin-left: 5.5em;
    width: 15em;
}

input[name="password2"] {
    background-color: #d7d7d7;
    border: none;
    border-bottom: 2px solid #c4c4c4;
    margin-left: 3em;
    width: 15em;
}

.form-bio {
    display: flex;
}

textarea[name="bio"] {
    background-color: #d7d7d7;
    border: none;
    border-bottom: 2px solid #c4c4c4;
    margin-left: 10em;
    margin-top: 1.5em;
    width: 15em;
    white-space: normal;
    resize: none;
}

.form-images {
    display: flex;
    margin-top: 1em;
}

.label-images {
    color: #000;
    background-color: #fff;
    padding: 0.5em;
    font-size: 12px;
    border-radius: 5px;
}

.choice-images {
    width: 20em;
    height: 5em;
    margin-left: 4.5em;
    margin-top: 1.5em;
    border-bottom: 2px solid #c4c4c4;
    background-color: #d7d7d7;
    cursor: pointer;
    text-align: center;
}

.update-button {
    text-align: center;
    margin-top: 1em;
}

input[name="update-button"] {
    background-color: #7b9979;
    border-radius: 5px;
    border: none;
    padding: 0.5em 4em 0.5em 4em;
    color: #FFFFFF;
}

/* フォロー/フォロワーリストページ */
.follower-list {
    font-size: 200%;
    margin-top: 5%;
    margin-left: 7%;
}

.follow-icon {
    width: 80%;
    margin: 1em 3em 1em 3em;
}

.follower-icon {
    width: 80%;
    margin: 1em 3em 1em 3em;
}

/* 相手のプロフィール画面 */
.other-users {
    display: flex;
    border-bottom: 3px solid #c4c4c4;
    width: 100%;
    margin-top: 2%;
}

.name-bio {
    width: 100%;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.other-username {
    display: flex;
}

.other-username1 {
    margin-right: 20%;
    margin-bottom: 20%;
}

.other-bio {
    display: flex;
}

.other-bio1 {
    margin-right: 27%;
}

form[name="follow-button1"] {
    position: relative;
    width: 100%;
}

button[name="unfollow-button1"] {
    position: absolute;
    margin: 1.5em;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    padding: 10px;
    color: #FFFFFF;
    background: #b95656;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
}

button[name="follow-button1"] {
    position: absolute;
    margin: 1.5em;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    padding: 10px;
    color: #FFFFFF;
    background: #7895d7;
    border: none;
    padding-left: 2em;
    padding-right: 2em;
}
