@charset "utf-8";

/*
html {}

body {}

*/

/* header */
header {
    display: flex;
    align-items: center;
    background: #3C4767;
}


/* アコーディオンメニュー */


header nav {
    margin-left: auto;
}

header .accordion-title {
    display: flex;
    position: relative;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #3C4767;
}

.accordion-content {
    display: none;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.accordion-content h2 {
    font-size: 13px;
    line-height: 1.5;
}

.accordion-title::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    height: 8px;
    position: absolute;
    right: 25px;
    top: 38%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
}

.accordion-title.open::after {
    top: 45%;
    transform: rotate(-45deg);
}

/*  */

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}
